<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.koba.exhibitions.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.koba.exhibitions.controller.listener.AppHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.koba.exhibitions.controller.listener.AppHttpSessionAttributeListener</listener-class>
    </listener>

    <filter>
        <filter-name>AdminAccessFilter</filter-name>
        <filter-class>com.koba.exhibitions.controller.filter.AdminAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAccessFilter</filter-name>
        <url-pattern>/view/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ClientAccessFilter</filter-name>
        <filter-class>com.koba.exhibitions.controller.filter.ClientAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ClientAccessFilter</filter-name>
        <url-pattern>/view/client/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/view/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/error/error404.jsp</location>
    </error-page>
</web-app>